.App {
  text-align: center;
  
  max-width:360px;
}

.App-logo {
  height: 40vmin;   
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.swiper-container {
  width: 100%;
  margin: 40px 0;
  padding: 45px 0;
}

.swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: .7s;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.5);
}

.container{
  display: block;
  width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;

  margin: 0 auto;
  border: 20px solid #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}